.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  i {
    font-size: 80px;
    margin-right: 10px;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    border: none;

    &:focus {
      outline: 1px solid #646cff;
    }
  }

  .check {
    display: flex;
    align-items: center;

    gap: 10px;
    input {
      width: 30px;
      height: 20px;
    }
  }
}
